.example-form {

    width: 100%;
    text-align: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  @media (max-width: 1075px) {
    .example-card {
       width: 100% !important;
       margin: auto;
    }
 }
  .example-card {
    min-width: 45%;
    height: 20%;
    display: inline-table;
    margin: 1%;
  }
  .example {
    margin: auto;
  }

  a {
    color: white;
    width: 100%;
  }
  button {
      width: 100%;
  }
  .event-card {
    width: 95%;
    display: block;
    margin: auto;
  }
  @media (max-width: 1075px) {
    .event-card {
       width: 100% !important;
       margin: auto;
    }
 }