<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Inscrivez vous à la Power Branch !</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="example-form" *ngIf="!this.registered && !this.loading && !this.alreadyRegistered">
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Votre email</mat-label>
                <input [(ngModel)]="this.email" matInput name="email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="standard" class="example-full-width">
                <mat-label>Nom et prénom</mat-label>
                <input [(ngModel)]="this.name" matInput>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" class="example-full-width" (click)='register()'>S'inscrire</button>
        </div>
        <div class="example" *ngIf="this.loading">
            <mat-spinner></mat-spinner>
        </div>
        <div class="example-form" *ngIf="this.registered">
            <br>
            Vous avez bien été inscrit à la Power Branch! Merci !<br>
            N'hésitez pas à nous suivre sur <a href="https://www.facebook.com/micbelgique">Facebook</a> / 
            <a href="https://www.twitter.com/micbelgique">Twitter</a> / <a href="https://www.meetup.com/micbelgique/">Meetup</a>
        </div>
        <div class="example-form" *ngIf="this.alreadyRegistered">
            <br>
            Vous êtes déjà inscrit à la Power Branch avec cet email. Vous aurez plus d'informations bientot. <br>
            La prochaine session de la Power Branch est <a href="https://www.meetup.com/micbelgique/events/274432486/">ici</a>
        </div>
    </mat-card-content>
  </mat-card>