.example-form {

    width: 100%;
    text-align: center;
  }
  
  .example-full-width {
    width: 90%;
  }
  .example-card {
    max-width: 60%;
    margin: auto;
  }
  img {
      width: 15%;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 1%;
      margin-bottom: 1%;
  }