<mat-card class="example-card">
    <mat-card-content>
        <img src="../assets/Logo White.png" class="center">
        <p>
            Tout comme vos outils informatiques, il est important de mettre à jour vos connaissances.
        </p>
        <p>
            C'est pourquoi le MIC a élaboré un programme en 3 activités majeures que sont le DevFM, le Ask the Expert et le Quick Remote Session.
        </p>
        <p>
            En effet, le Power Branch s'appuie sur l'expertise de professionnels du secteur que vous pourrez solliciter via nos différents formats et le Slack.
        </p>
        <p>
            Le lien du <a href="https://www.meetup.com/micbelgique/events/274432486/" style="color: white;">Meetup</a>
        </p>
        <p>
            Inscrivez-vous d'ores et déjà ici et rdv sur notre Twitch !
        </p>
    </mat-card-content>
  </mat-card>
<app-register></app-register>
<app-experts></app-experts>