.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
  }
  .example-card {
    max-width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
  }
  .input-full {
    width: 100%;
  }
  button {
    width: 100%;
  }