<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Entre ton nouveau mot de passe!</mat-card-title>
  </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-form-field class="input-full">
              <mat-label>Email address:</mat-label>
              <input matInput [(ngModel)]="this.email"
                     placeholder="Ex. nathan@mic-belgique.be">
              <mat-hint>Entre ton mail ici</mat-hint>
            </mat-form-field>
        </mat-list-item>
        <mat-list-item></mat-list-item>
            <mat-list-item role="listitem">
              <mat-form-field class="input-full">
                  <mat-label>Mot de passe</mat-label>
                  <input matInput type="password" [(ngModel)]="this.password"
                        placeholder="Entre ton mot de passe">
                  <mat-hint>Entre ton mot de passe ici</mat-hint>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item role="listitem">
                <mat-form-field class="input-full">
                    <mat-label>Mot de passe pour vérifier</mat-label>
                    <input matInput type="password" [(ngModel)]="this.passwordVerif"
                           placeholder="Entre ton mot de passe">
                    <mat-hint>Entre ton mot de passe ici une nouvelle fois pour vérifier</mat-hint>
                  </mat-form-field>
            </mat-list-item>
            <mat-list-item></mat-list-item>
            <mat-list-item>
                <button mat-raised-button color="primary" (click)='changepassword()'>Changer mon mot de passe</button>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
  </mat-card>
